---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getJobsFromNotion } from '../../lib/notion.js';
import CTA from '../../components/CTA.astro';
import Breadcrumb from '../../components/Breadcrumb.astro';

const pageUrl = 'https://taxi-mate.jp/jobs/';
const pageTitle = '求人一覧｜タクシーメイト';
const pageDescription =
  'タクシーメイトはタクシー業界専門の転職支援サービスです。厳選した月給45万円以上が目指せる会社のみを紹介。タクシー業界を知り尽くしたキャリアアドバイザーがあなたの転職をサポートします。';

const jobs = await getJobsFromNotion();
const jobsCount = jobs.length;
---

<BaseLayout title={pageTitle} description={pageDescription} url={pageUrl}>
  <!-- ページ固有のhead要素 -->
  <Fragment slot="head">
    <meta property="og:url" content={pageUrl} />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={pageDescription} />
  </Fragment>

  <!-- ヘッダーセクション -->
  <div class="bg-emerald-900 px-6 py-24 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-5xl font-semibold tracking-tight text-white sm:text-5xl">
        求人一覧
      </h2>
      <p class="mt-8 text-md font-medium text-pretty text-white sm:text-xl/8">
        こちらに厳選した求人掲載しています。推薦書を作成し紹介していますのでLINEもしくはお電話にてお問い合わせください。
      </p>
    </div>
  </div>

  <Breadcrumb pageName={pageTitle} />

  <!-- 求人一覧 -->
  <div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <h2 class="sr-only">求人一覧</h2>

      <div
        class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8"
      >
        {
          jobs.map((job, index) => {
            const slug = job.id;
            const detailUrl = `/jobs/${slug}/`;

            return (
              <a href={detailUrl} class="group">
                <img
                  src="/images/banner-square.png"
                  alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                  class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8"
                />
                <p class="mt-3 text-xs font-medium flex items-center gap- text-gray-700">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="size-4 text-gray-700 mr-0.5"
                  >
                    <path
                      fill-rule="evenodd"
                      d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  {job.headOffice}
                </p>
                <h3 class="text-lg font-semibold text-gray-900">
                  {job.company}
                </h3>
                <div class="mt-1 flex flex-wrap gap-1">
                  {job.dispatchApps.map((app: string) => (
                    <span class="inline-block text-xs rounded-full bg-gray-50 px-2 py-1 font-medium text-gray-600 hover:bg-gray-100">
                      {app}
                    </span>
                  ))}
                </div>
              </a>
            );
          })
        }
      </div>
      <p>
        {
          jobsCount === 0 ? (
            <p>現在、募集中の求人はありません。</p>
          ) : (
            <p>求人は {jobsCount} 件です</p>
          )
        }
      </p>
    </div>
  </div>

  <CTA />
</BaseLayout>
