---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getJobsFromNotion } from '../../lib/notion.js';
import CTA from '../../components/CTA.astro';
import Breadcrumb from '../../components/Breadcrumb.astro';

const pageUrl = 'https://taxi-mate.jp/jobs/';
const pageTitle = '求人一覧｜タクシーメイト';
const pageDescription =
  'タクシーメイトはタクシー業界専門の転職支援サービスです。厳選した月給45万円以上が目指せる会社のみを紹介。タクシー業界を知り尽くしたキャリアアドバイザーがあなたの転職をサポートします。';

const jobs = await getJobsFromNotion();
const jobsCount = jobs.length;
---

<BaseLayout title={pageTitle} description={pageDescription} url={pageUrl}>
  <!-- ページ固有のhead要素 -->
  <Fragment slot="head">
    <meta property="og:url" content={pageUrl} />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={pageDescription} />
  </Fragment>

  <!-- ヘッダーセクション -->
  <div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
    <img
      src="/images/background3.jpg"
      alt="タクシーが走る背景画像"
      class="absolute inset-0 -z-10 size-full object-cover"
    />
    <div class="absolute inset-0 -z-10 bg-white/20 backdrop-blur-sm"></div>
    <div
      class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl"
      aria-hidden="true"
    >
      <div
        class="aspect-1097/845 w-274.25 bg-linear-to-tr from-[#ff4694] to-[#776fff] opacity-20"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      >
      </div>
    </div>
    <div
      class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu"
      aria-hidden="true"
    >
      <div
        class="aspect-1097/845 w-274.25 bg-linear-to-tr from-[#ff4694] to-[#776fff] opacity-20"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      >
      </div>
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2
          class="text-5xl font-semibold tracking-tight text-white sm:text-7xl"
        >
          求人一覧
        </h2>
        <p class="mt-8 text-lg font-medium text-pretty text-white sm:text-xl/8">
          こちらに厳選した求人掲載しています。推薦書を作成し紹介していますのでLINEもしくはお電話にてお問い合わせください。
        </p>
      </div>
    </div>
  </div>

  <Breadcrumb pageName={pageTitle} />

  <!-- 求人一覧 -->
  <div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <h2 class="sr-only">求人一覧</h2>

      <div
        class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8"
      >
        {
          jobs.map((job, index) => {
            const slug = job.id;
            const detailUrl = `/jobs/${slug}/`;

            return (
              <a
                href={`/jobs/${job.id}/`}
                class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-6 pt-36 pb-6 sm:pt-24 lg:pt-36"
              >
                <img
                  src="/images/banner-square.png"
                  alt={`${job.company}の求人画像`}
                  class="absolute inset-0 -z-10 size-full object-cover"
                />
                <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40" />
                <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-gray-900/10 ring-inset" />

                <div class="flex flex-col gap-y-2">
                  <div class="flex flex-wrap items-center gap-y-1 overflow-hidden text-sm/6 text-gray-300">
                    <span class="inline-block text-xs rounded-full bg-gray-50 px-2 py-1 font-medium text-gray-600">
                      {job.status}
                    </span>
                  </div>

                  <h3 class="text-lg font-bold text-white">{job.company}</h3>

                  {job.dispatchApps && job.dispatchApps.length > 0 && (
                    <div class="flex flex-col gap-y-1">
                      <span class="text-gray-300 whitespace-nowrap text-sm">
                        配車アプリ：
                      </span>
                      <div class="flex flex-wrap items-center gap-1">
                        {job.dispatchApps.map((app: string) => (
                          <span class="inline-block text-xs rounded-full bg-gray-50 px-2 py-1 font-medium text-gray-600 whitespace-nowrap">
                            {app}
                          </span>
                        ))}
                      </div>
                    </div>
                  )}

                  <p class="text-sm text-gray-300 truncate">{job.location}</p>
                </div>
              </a>
            );
          })
        }
      </div>
      <p>
        {
          jobsCount === 0 ? (
            <p>現在、募集中の求人はありません。</p>
          ) : (
            <p>求人は {jobsCount} 件です</p>
          )
        }
      </p>
    </div>
  </div>

  <CTA />
</BaseLayout>
