---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import Breadcrumb from '../../../components/Breadcrumb.astro';

const pageUrl = 'https://taxi-mate.jp/contact/thanks/';
const pageTitle = '送信ありがとうございました';
const pageDescription = 'お問い合わせありがとうございます。';

const breadcrumbItems = [
  { name: 'メールで求人を受け取る', href: '/contact/' },
  { name: pageTitle, href: '#' },
];
---

<BaseLayout title={pageTitle} description={pageDescription} url={pageUrl}>
  <!-- ページ固有のhead要素 -->
  <Fragment slot="head">
    <meta property="og:url" content={pageUrl} />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={pageDescription} />
  </Fragment>

  <Breadcrumb items={breadcrumbItems} />

  <!-- 完了メッセージセクション -->
  <div class="relative isolate bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        送信ありがとうございました
      </h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        お問い合わせありがとうございます。<br />
        内容を確認次第、担当者よりご連絡させていただきます。
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
          href="/"
          class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >トップページへ戻る</a
        >
      </div>
    </div>
  </div>
</BaseLayout>
